/* Generic =============================================================================== */
.postnl-container { background:#fff; font:11px/1 Arial, sans-serif; color:#333334; border:1px solid #bbbbbc; border-left:0; border-right:0; padding:11px 17px 21px; margin:11px 0 16px; }
.postnl-container * { margin:0; padding:0; float:none; font-weight:normal; border:none; }
.postnl-container *,
.postnl-container *:before,
.postnl-container *:after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

/* Styling */
.postnl-container h2 { font-size:17px; color:#ed8c00; }
.postnl-container h3 { font-size:14px; color:#333334; }
.postnl-container h2,
.postnl-container h3 { font-weight:bold; font-family:Arial, sans-serif; margin:0; line-height:1; }
.postnl-container .title { height:54px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_postnl.png) 100% 0 no-repeat; }
.postnl-container .title h2 { padding-top:11px; }
.postnl-container .sub-title { margin-bottom:9px; }

.postnl-container em { font-style:italic; }
.postnl-container strong { font-weight:bold; }

.postnl-container a { color:#333334; text-decoration:none; cursor:pointer; }
.postnl-container a:hover { color:#333334; text-decoration:underline; }
.postnl-container :focus{ outline:0; }

/* Layout */
.postnl-container .col-1,
.postnl-container .col-2 { width:50%; min-width:281px; max-width:351px; float:left; }
.postnl-container .col-1 { padding-right:17px; }
.postnl-container .col-2 { padding-left:17px; }

/* Buttons */
.postnl-container .button { border:0; padding:0; margin:0; background:transparent; overflow:visible; cursor:pointer; vertical-align:middle; height:26px !important; }
.postnl-container .button span { border:0;  margin:0; cursor:pointer; display:-moz-inline-stack; display:inline-block; height:26px; color:#fff; text-decoration:none; background:transparent url(../../../../images/TIG/PostNL/deliveryoptions/bkg_button.png) 0 -68px no-repeat !important; }
.postnl-container .button span span { padding:0 12px 0; background-position:100% -68px !important; white-space:nowrap; font:14px/24px Arial, sans-serif; text-transform:none; }
.postnl-container .button.disabled span { background-position:0 -94px !important; color:#b0b0b0 !important; cursor:default !important; }
.postnl-container .button.disabled span span { background-position:100% -94px !important; }

.postnl-container .button.action { height:34px !important; }
.postnl-container .button.action span { background-position:0 0 !important; padding:0 0 0 17px; height:34px; }
.postnl-container .button.action span span { background-position:100% 0 !important; padding:0 32px 0 0; font:14px/32px Arial, sans-serif; }
.postnl-container .button.action.disabled span { background-position:0 -34px !important; }
.postnl-container .button.action.disabled span span { background-position:100% -34px !important; }

.postnl-container .button.next { height:30px !important; }
.postnl-container .button.next:hover { opacity: 0.6; background:none;}
.postnl-container .button.next:disabled{ background:none; }

.postnl-container .button.next span { background-position:0 -120px !important; height:30px; }
.postnl-container .button.next span span { background-position:100% -120px !important; padding:0 60px 0 20px; line-height:28px; }
.postnl-container .button.next.disabled span { background-position:0 -150px !important; }
.postnl-container .button.next.disabled span span { background-position:100% -150px !important; }

.postnl-container .button:active { position:relative; z-index:2; bottom:-1px; right:0; left:0; }

/* Loading */
.postnl-loader { width:100%; height:60px; text-align:center; background:url(../../../../images/TIG/PostNL/deliveryoptions/loader_default.gif) center top no-repeat; padding-top:42px; }
.popup-window .postnl-loader { height:332px; background-position:center 112px; padding-top:150px; }
#locations_loader { display:inline-block; width:14px; height:16px; text-indent:-999em; background:url(../../../../images/TIG/PostNL/deliveryoptions/loader_mini.gif) 0 2px no-repeat; margin-left:4px; }
/* ======================================================================================= */

/* Option List ========================================================================== */
.postnl-container .option-list { margin-bottom:6px; position:relative; font-size:11px; }
.postnl-container .option-list .bkg { display:block; padding:0 0 0 8px; background-position:0 0; }
.postnl-container .option-list .bkg .bkg { padding:0 8px 0 0; background-position:100% 0; }

/* Location */
.postnl-container .location { color:#fff; height:24px; margin:0 0 2px; }
.postnl-container .location .bkg { height:24px; background-image:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_location.gif); }
.postnl-container .location .show-map { color:#fff; }
.postnl-container .location .show-map:hover { text-decoration:none; }
.postnl-container .location .location-name { font-size:13px; line-height:24px; }
.postnl-container .location .location-type,
.postnl-container .location .location-distance-text { color:#eaeaeb; line-height:25px; margin-left:6px; }
.postnl-container .location .location-info { float:right; }
.postnl-container .location .location-info span { position: absolute; top:0; right: 7px; margin-right:-7px; display:block; width:24px; height:24px; text-indent:-999em; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_more-info.png) -2px 5px no-repeat; }
.postnl-container .location .tooltip-container:hover .location-info span,
.postnl-container .location .location-info:hover span { width:31px; background-position:5px -41px; }

/* Option */
.postnl-container .option-dd,
.postnl-container .option-radio,
.postnl-container .option-time,
.postnl-container .option-comment { display:block; float:left; height:38px; }

.postnl-container .option { display:block; height:38px; margin:0 0 2px; overflow:hidden; cursor:pointer; }
.postnl-container .option .bkg { height:38px; background-image:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_option.gif); }
.postnl-container .option:hover .bkg { background-position:0 100%; }
.postnl-container .option:hover .bkg .bkg { background-position:100% 100%; }

.postnl-container .option-dd { width:34px; margin:6px 0; }
.postnl-container .option-dd .option-day { font-size:13px; line-height:1; }
.postnl-container .option-dd .option-date { display:block; font-size:10px; line-height:1.4; }

.postnl-container .option-radio { width:26px; height:38px; margin-right:8px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_radio.png) 0 -32px no-repeat; }
.postnl-container .option.active .option-radio { background-position:0 2px; }

.postnl-container .option-time { line-height:36px; }
.postnl-container .option-comment { color:#f05a22; line-height:36px; margin-left:6px; }

/* Add Location*/
.postnl-container .add-location { display:block; height:22px; text-align:right; border-bottom:1px solid #bbbbbc; }
.postnl-container .add-location a { display:inline-block; text-decoration:none; margin:1px 8px 0 0; height:14px; padding-right:21px; line-height:13px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_add-location.png) 100% 0 no-repeat; }
.postnl-container .add-location a:hover { text-decoration:underline; }

/* Tooltip */
.postnl-container .tooltip { display:none; position:absolute; z-index:500; top:-18px; right:27px; width:264px; background:#f2f2f2 url(../../../../images/TIG/PostNL/deliveryoptions/bkg_tooltip.png) 100% 100% no-repeat; padding:12px 16px 16px; color:#333334;}
.postnl-container .tooltip { border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
.postnl-container .tooltip-header strong { display:block; font-size:14px; line-height:18px !important; }
.postnl-container .tooltip-divider { height:0; border:none; border-bottom:1px solid #bbbbbc; margin:12px -8px 7px; }

.postnl-container .tooltip-container:hover .tooltip { display:block; }
.postnl-container .tooltip-container:hover span { width: 31px; background-position: 5px -41px; }

.postnl-container .tooltip-content .business-hours { font-size:11px; line-height:17px; }
.postnl-container .tooltip-content .business-hours tbody th { width:36px; }

/* Extra options */
.postnl-container .extras .location .bkg { background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_extras.gif) 0 0 no-repeat; }
.postnl-container .extras .location .bkg .bkg { background-position:100% 0; }

.postnl-container .extras .option { cursor:default; }
.postnl-container .extras .option .bkg { background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_extras.gif) 0 -24px no-repeat;  }
.postnl-container .extras .option .bkg .bkg { background-position:100% -24px; }
.postnl-container .extras .option .content { padding:13px 0; white-space:nowrap !important; }
.postnl-container .extras .option input { display:inline-block; margin:0 !important; float:none !important; }
.postnl-container .extras .option label { display:inline-block; font:11px/10px Arial, sans-serif; color:#333334 !important; text-transform:lowercase; padding:0 !important; background:none !important; margin-left:2px !important; min-width:0 !important; }
.postnl-container .extras .option label .price { color:#f05a22; font-weight:normal !important; font-family:inherit !important; }
/* ======================================================================================= */

/* Pop-up =================================================================== */
.postnl-container .popup-overlay { background:rgba(255, 255, 255, .7); position:fixed; z-index:5000; width:100%; height:100%; top:0; left:0; }
.postnl-container .popup-window { background:#fff; position:absolute; z-index:6000; top:50%; left:50%; }
.postnl-container .popup-window { -webkit-box-shadow:0 0 12px 0 #a6a6a6; box-shadow:0 0 12px 0 #a6a6a6; -moz-box-shadow:0 0 12px 0 #a6a6a6; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
.postnl-container .popup-header { padding:14px 17px 0; position:relative; }
.postnl-container .popup-content { padding:14px 17px 0; }

/* Close */
.postnl-container .btn-close { position:absolute; top:17px; right:17px; display:block; width:18px; height:18px; text-indent:-999em; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_btn-close.png) 0 0 no-repeat; }
.postnl-container .btn-close:hover { background-position:0 -18px; }

/* Button Set */
.postnl-container .button-set { background:#f2f2f2; height:44px; padding:7px 17px; }
.postnl-container .button-set .button { float:right; }

/********** Add Location > */
#postnl_add_location .popup-window { width:834px; min-height:545px; margin:-273px 0 0 -417px; }
#postnl_add_location .popup-header { min-height:80px; }
#postnl_add_location .popup-map { height:265px; }
#postnl_add_location .popup-content { height:200px; }

/* Search  */
#postnl_add_location .search-location { margin-top:11px; }
#postnl_add_location .search-location .input-text,
#postnl_add_location .search-location .btn-search { float:left; }
#postnl_add_location .search-location .input-text { display:block; width:186px !important; height:26px; padding:4px 12px; border:none; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_location-search_input.gif) 0 0 no-repeat; color:#575756; font:12px/26px Arial, sans-serif; }
#postnl_add_location .search-location .btn-search { margin-left:2px; }
#postnl_add_location .search-location .btn-search:hover { background: none; opacity: 0.6; }
/*#postnl_add_location .search-location .btn-search span span { width:70px; }*/
#postnl_add_location .search-location .no-results { display:block; clear:both; color:#f10; padding:8px 0; }

/* Google Auto-complete */
div.pac-container { z-index:5000; width:380px !important; }

/* Options */
#postnl_add_location .location-options { float:left; margin-left:4px; }
#postnl_add_location .location-options li { display:block; float:left; margin:0 0 0 30px; padding:0; line-height:24px; }
#postnl_add_location .location-options a { display:inline-block; height:26px; padding-left:26px; line-height:25px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_checkbox.png) 0 0 no-repeat; }
#postnl_add_location .location-options a.selected { background-position:0 100%; }

/* Options Tooltip */
#postnl_add_location .location-options .postnl-tooltip { display:inline-block; vertical-align:text-top !important; }
#postnl_add_location .location-options .postnl-tooltip,
#postnl_add_location .location-options .postnl-tooltip > div,
#postnl_add_location .location-options .postnl-tooltip > div:before,
#postnl_add_location .location-options .postnl-tooltip > div:after { -moz-box-sizing:content-box !important; -webkit-box-sizing:content-box !important; box-sizing:content-box !important; line-height:1.5; }

/* List */
#postnl_add_location .location-list { height:108px; overflow:hidden; margin:7px 0 10px 0; }
#postnl_add_location .location-list .location { margin:0; padding:0 30px 0 7px; height:36px; width:774px; border-bottom:1px solid #e6e6e6; font-size:12px; line-height:33px; color:#333334; cursor:pointer; }
#postnl_add_location .location-list .location:hover { background-color:#f2f2f2 !important; }
#postnl_add_location .location-list .location.selected { background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_location-selected.png) 753px 11px no-repeat; }
#postnl_add_location .location-list .location-icon { display:block; float:left; margin:9px 6px 0 0; max-width:16px; }
#postnl_add_location .location-list .location-name { margin-right:4px; }
#postnl_add_location .location-list .location-info { text-decoration:none; width:122px; float:right; text-align:right; }
#postnl_add_location .location-list .location-info:hover { text-decoration:underline; }
#postnl_add_location .location-list .location-distance { height:35px; width:71px; float:right; text-align:right; }

/* Scrollbar */
#scrollbar_container { width:800px; position:relative; }
#scrollbar_track { position:absolute; top:0; right:0; height:100%; width:7px; }
#scrollbar_handle { width:7px; background-color:#bbbbbc; cursor:default; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
#scrollbar_handle:active,
#scrollbar_track:hover #scrollbar_handle { background-color:#575756; }
#scrollbar_content { overflow:hidden; width:800px; }

/* Details */
#postnl_add_location .location-details { position:absolute; width:340px; background:#f2f2f2; top:122px; left:50%; margin:0 0 0 -170px; padding:16px; }
#postnl_add_location .location-details { -webkit-box-shadow:0 0 12px 0 #a6a6a6; box-shadow:0 0 12px 0 #a6a6a6; -moz-box-shadow:0 0 12px 0 #a6a6a6; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
#postnl_add_location .location-details .btn-close { top:16px; right:8px; }
#postnl_add_location .location-details .left { float:left; width:158px; border-right:1px solid #d1d3d3; margin-right: -1px; }
#postnl_add_location .location-details .left .location-name { font-size:12px; line-height:18px; margin:0 0 20px; display:block; width:141px; }
#postnl_add_location .location-details .left .location-address { font-size:12px; line-height:18px; display:block; width:141px; }
#postnl_add_location .location-details .left .location-info { float:none; text-align:left; text-decoration:none; line-height:18px; width:141px; display:block; margin-top:20px; }
#postnl_add_location .location-details .right { float:right; width:151px; padding-left:14px; border-left:1px solid #d1d3d3; }
#postnl_add_location .location-details .right .business-hours { line-height:18px; font-size: 12px; }
#postnl_add_location .location-details .right .business-hours tbody th { width:36px; padding:2px; font-size: 12px; }
#postnl_add_location .location-details .right .business-hours tbody td { padding:2px; font-size: 12px; }
/* Button Set */
#postnl_add_location .button-set { padding:7px 43px 7px 17px; margin:0 -17px; }
/********** < Add Location */

/********** Add Phone Number > */
#postnl_add_phonenumber .popup-window { width:700px; height:300px; margin:-150px 0 0 -350px; }
#postnl_add_phonenumber .popup-header { height:51px; }
#postnl_add_phonenumber .popup-content { height:205px; padding-left:166px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_postnl-logo.png) 44px 14px no-repeat; }

#postnl_add_phonenumber .text { font-size:14px; line-height:18px; width:320px; }
#postnl_add_phonenumber .text p { padding-bottom:20px; }

#postnl_add_phonenumber .number-input { margin-top:14px; }
#postnl_add_phonenumber .number-input .input-text { color:#333334; width:204px; height:26px; border:none; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_add-phonenumber_input.gif) !important; padding:0 6px; }
#postnl_add_phonenumber .number-input .input-text.validation-failed { color:#e52629 !important; background-position:0 -26px !important; border:none !important; }
#postnl_add_phonenumber .number-input .validation-advice { display:none; }

#postnl_add_phonenumber .number-verify,
#postnl_add_phonenumber .number-failed { font-size:14px; height:24px; margin-top:14px; line-height:19px; }

#postnl_add_phonenumber .number-verify { padding-left:31px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_phonenumber_verify.png) 0 0 no-repeat; }
#postnl_add_phonenumber .number-failed { padding-left:25px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_phonenumber_failed.png) 0 0 no-repeat; }
/********** < Add Phone Number */

/******* Hide default timeframe */

.defaultTimeFrameNotAvailable { border-left: 5px solid #df280a; background-color: #faebe7; padding: 7px 10px 7px 20px; margin-bottom: 5px; max-width: 80%; }

/***** < Hide default timeframe */
/* ======================================================================================= */

/* Fixes ================================================================================= */
.overflow-protect { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block; }
#postnl_delivery .location-name.overflow-protect { width:100%; }
#postnl_pickup .location-name.overflow-protect { max-width:158px !important; float:left; }
#postnl_pickup .location-name.overflow-protect {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100% !important; padding-right:1px; float:left; }
.location-list .overflow-protect { float:left; width:522px; }
#palocation .location-name.overflow-protect,
.pa-location .location-name.overflow-protect { max-width:275px !important; }
#palocation .location-name.overflow-protect,
.pa-location .location-name.overflow-protect {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100% !important; padding-right:13px;
}
body.noscroll { overflow:hidden; }
.no-display { display:none !important; }

/* Clears */
.location-list:after,
.location-details:after,
.location-options:after,
.search-location:after,
.popup-header:after,
.content:after,
.col2-set:after { content:'.'; display:block; height:0; width:0; line-height:0; overflow:hidden; clear:both; }

/* Cufon */
cufon { overflow:hidden !important; cursor:text; }
.button cufon { cursor:pointer; }
cufon canvas { user-select:all; -moz-user-select:all; -webkit-user-select:all; }
cufon[alt=" "] { display:none !important; width:0 !important; height:0 !important; }

/* Hide Responsive-only Elements */
.responsive-protector p.rate,
.responsive-switch-wrapper,
.responsive-tooltip,
.responsive-tooltip-open { display:none; }
/* ======================================================================================= */

/* ID Check Expiration Date=============================================================== */
.postnl-date .postnl-month, .postnl-date .postnl-day { width: 40px; float: left; margin-right: 10px; }
.postnl-date .postnl-year { width: 80px; float: left; }
/* ======================================================================================= */
