/* Mobile devices */
@media only screen and (max-width: 768px) {
    h3.sub-title { display:none; }

    .postnl-container .col2-set { width:9999em; -webkit-transition:-webkit-transform 250ms linear; -o-transition:-o-transform 250ms linear; transition:transform 250ms linear; }
    .postnl-container .col2-set .col-1,
    .postnl-container .col2-set .col-2 { padding:0; float:left; }
    .postnl-container .col2-set .col-1 { margin-right:34px; }

    .responsive-protector { overflow:hidden !important; }
    .responsive-protector p.rate { display:block !important; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_rwd_rate-line.png) left bottom no-repeat; padding:8px 8px 19px; margin-bottom:8px; font-weight:bold; font-size:13px; }
    .responsive-switch-wrapper { display:block; margin:16px 0 0; }
    .responsive-switch-wrapper ul { margin-bottom:30px; }
    .responsive-switch-wrapper.show-rates ul { margin-bottom:0; }
    .responsive-switch-wrapper li { display:block; float:left; width:50%; box-sizing:border-box; text-align:center; }
    .responsive-switch-wrapper li:first-child { padding-right:2px; }
    .responsive-switch-wrapper li:last-child { padding-left:2px; }
    .responsive-switch-wrapper li:first-child a { border-radius:3px 0 0 3px; }
    .responsive-switch-wrapper li:last-child a { border-radius:0 3px 3px 0; }
    .responsive-switch-wrapper li a { box-sizing:border-box; display:block; border:1px solid #bbb; width:100%; height:40px; background:#fff; line-height:38px; font-weight:bold; color:#ed8c00; font-size:13px; text-align:center; text-decoration:none !important; text-transform:uppercase; }
    .responsive-switch-wrapper li a.active { color:#fff; border:none; line-height:40px; background:#f28d1f;
        background:-moz-linear-gradient(top, #f28d1f 0%, #ec6921 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f28d1f), color-stop(100%,#ec6921));
        background:-webkit-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:-o-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:-ms-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:linear-gradient(to bottom, #f28d1f 0%,#ec6921 100%);
    }
    .option-list.extras .option .bkg,
    .option-list.extras .location .bkg,
    .option-list .option .bkg,
    .option-list .location .bkg { background:none!important; padding:0 !important; }
    .option-list .location { background:#666; padding:0 8px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
    .option-list .option { padding:0 8px; background:#eaeaea; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
        background:-moz-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#e0e0e0));
        background:-webkit-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:-o-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:-ms-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:linear-gradient(to bottom, #eaeaea 0%,#e0e0e0 100%);
    }
    .option-list.extras .option {
        padding:0 8px;
        background:#eaeaea;
        background:-moz-linear-gradient(top, #eaeaea 0%, #f1f1f1 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f1f1f1));
        background:-webkit-linear-gradient(top, #eaeaea 0%,#f1f1f1 100%);
        background:-o-linear-gradient(top, #eaeaea 0%,#f1f1f1 100%);
        background:-ms-linear-gradient(top, #eaeaea 0%,#f1f1f1 100%);
        background:linear-gradient(to bottom, #eaeaea 0%,#f1f1f1 100%);
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }

    .tooltip-container { display:none !important; }
    .responsive-tooltip { display:block; }
    .responsive-tooltip-open { display: block; position: absolute; right: 5px; top: 0; width: 19px; height: 19px; background: url(../../../../images/TIG/PostNL/deliveryoptions/bkg_more-info.png) -2px 5px no-repeat; text-indent: -9999em; float: right; }
    .close-wrapper { text-align:center; }
    .responsive-tooltip-close { display:inline-block; width:20px; height:12px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_tooltip_close.png) 0 0 no-repeat; text-indent:-9999em; margin-top:6px; }
    .responsive-tooltip { margin:-2px 0 2px; width:100%; overflow:hidden; transition:all .5s cubic-bezier(0, 1, 0.5, 1); -webkit-transition:all .5s cubic-bezier(0, 1, 0.5, 1); -moz-transition:all .5s cubic-bezier(0, 1, 0.5, 1); max-height:250px; }
    .responsive-tooltip.hidden { max-height:0; }
    .responsive-tooltip .content { padding:16px 10px; background:#f2f2f2; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
    .responsive-tooltip .content hr.divider { height:0; border:none; border-bottom:1px solid #bbbbbc; margin:12px 0 7px; }
    .responsive-tooltip .location-address { font-size:13px; }
    .responsive-tooltip .business-hours { line-height:18px; font-size:12px !important; color:#333 !important; }
    .responsive-tooltip .business-hours tbody th { width:40px; }

    body.noscroll { overflow:auto; }
    #postnl_add_phonenumber .popup-overlay { background:none; position:static; }
    #postnl_add_phonenumber .popup-window { position:static; width:auto; height:auto; margin:0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;  }
    #postnl_add_phonenumber .popup-header { padding-left:0; }
    #postnl_add_phonenumber .popup-header h2 { text-transform:none; }
    #postnl_add_phonenumber .popup-content { height:auto; background:none; padding:0; }
    #postnl_add_phonenumber .text { font-size:12px; width:auto; }
    #postnl_add_phonenumber .text p { padding:0; }
    #postnl_add_phonenumber .button-set { background:none; height:auto; padding:0; margin-top:20px; }
    #postnl_add_phonenumber .button-set button { float:none; }
    #postnl_add_phonenumber .number-verify,
    #postnl_add_phonenumber .number-failed { font-size:12px; }

    #add_phone_close { display:none; }

    #postnl_add_location { display:none; }
    .responsive-hidden { display:none; }
}


/* Tablet portrait view */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .postnl-container { padding-left:0; padding-right:0; }
    .postnl-container .col-1, .postnl-container .col-2 { width:50%; min-width:281px !important; max-width:351px; }

    #postnl_add_location { display:none; }
    .responsive-hidden { display:none; }
}

/* Filter alignment */
@media only screen and (max-width: 399px) {
    .responsive-location-results .location-filters .filter { margin-left:0 !important; }
}

@media only screen and (min-width: 400px) and (max-width: 413px) {
    .responsive-location-results .location-filters .filter:nth-child(n+3) { margin-left:69px !important; }
}

@media only screen and (min-width: 644px) and (max-width: 1023px) {
    .responsive-location-results .location-filters .filter:nth-child(4) { margin-left:0 !important; }
}

/* Both Mobile and Tablet */
@media only screen and (max-width: 1023px) {
    .postnl-container { padding-left:0; padding-right:0; font-size:12px; }
    .postnl-container .title h2 { display:inline-block; }
    .postnl-container .title #postnl_back_link { display:inline-block; width:12px; padding-right:18px; height:20px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_back_link.png) 0 0 no-repeat; text-indent:-999em; vertical-align:middle; margin-top:-4px; }

    button.postnl-button { display:block; text-align:center; color:#fff; height:30px; padding:0 20px;
        background:-moz-linear-gradient(top, #f28d1f 0%, #ec6921 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f28d1f), color-stop(100%,#ec6921));
        background:-webkit-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:-o-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:-ms-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:linear-gradient(to bottom, #f28d1f 0%,#ec6921 100%);
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }
    button.postnl-button.white { background:#fff; color:#ed8c00; border:1px solid #ed8c00; }

    .responsive-add-location h3 { text-transform:none; }
    .responsive-location-search { margin-top:12px; }
    .responsive-location-search .search-form { width:77.5%; float:left; }
    .responsive-location-search input.postnl-input { background:#f2f2f2; width:100%; padding:0 16px; color:#585858; height:30px; line-height:28px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
    .responsive-location-search .actions { width:22%; float:right; }
    .responsive-location-search button.postnl-button { width:100%; padding:0; }

    .responsive-location-results { padding-top:18px; border-top:1px solid #bbb; margin-top:14px; }
    .responsive-location-results h3 { color:#ed8c00; }
    .responsive-location-results .location-filters { margin:12px 0 18px; }
    .responsive-location-results .location-filters li { display:block; float:left; height:26px; line-height:25px; }
    .responsive-location-results .location-filters .label { margin-right:40px; }
    .responsive-location-results .location-filters .filter { margin-right:20px; }
    .responsive-location-results .location-filters .filter:nth-child(4) { margin-left:69px; }
    .responsive-location-results .location-filters .filter .input-box { display:block; line-height:20px; padding-left:26px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_checkbox.png) 0 0 no-repeat; }
    .responsive-location-results .location-filters .filter .input-box.selected { background-position:0 -26px; }

    .responsive-location-results .location-details { background:#f5f5f5; border-top:1px solid #bbb; margin:0; }
    .responsive-location-results .location-details:nth-child(1n+7) { display:none; }
    .responsive-location-results .location-details:nth-child(6),
    .responsive-location-results .location-details:last-child { border-bottom:1px solid #bbb; }
    .responsive-location-results .location-details .content { padding:20px 0; line-height:16px; position:relative; }
    .responsive-location-results .location-details .content .location-info { cursor:pointer; overflow:hidden; float:left; width:275px; }
    .responsive-location-results .location-details .content span { display:block; float:left; height:50px }
    .responsive-location-results .location-details .content .radio { width:26px; height:38px; margin:7px 12px 5px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_radio.png) 0 -32px no-repeat; }
    .responsive-location-results .location-details .content .radio.selected { background-position:0 2px; }
    .responsive-location-results .location-details .content .distance { position:absolute; right:68px; text-align:right; }
    .responsive-location-results .location-details .content .info-link { display:block; width:44px; height:44px; position:absolute; right:12px; margin-top:3px; text-indent:-9999em; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_info_link.png) 0 0 no-repeat; }

    .responsive-location-results .location-details .more-info { margin:-10px 68px 0 50px; padding-top:10px; border-top:1px solid #c8c8c8; }
    .responsive-location-results .location-details .more-info .business-hours { line-height:18px; font-size:12px !important; color:#333 !important; }
    .responsive-location-results .location-details .more-info .business-hours tbody th { width:40px; }
    .responsive-location-results .location-details .more-info .actions button.postnl-button { float:left; margin:20px 20px 0 0; }
    .responsive-location-results .location-details .more-info .close-wrapper { text-align:center; padding:25px 0 20px; }
    .responsive-location-results .location-details .more-info .close-wrapper .more-info-close { display:inline-block; width:20px; height:12px; background:url(../../../../images/TIG/PostNL/deliveryoptions/bkg_tooltip_close.png) 0 0 no-repeat; text-indent:-9999em; }
}

/* Back to normal */
@media only screen and (min-width: 1024px) {
    .postnl-container { padding-left:0; padding-right:0; }
    .postnl-container .col-1, .postnl-container .col-2 { width:50%; min-width:281px !important; max-width:351px; }

    .postnl-container .title #postnl_back_link,
    #postnl_add_location_responsive { display:none; }
    .responsive-noscroll { overflow:hidden; }
}

@media only screen and (max-width: 399px) {
    .responsive-location-results ul.location-filters li { float:none; }
    .responsive-location-results .location-details .more-info .actions button.postnl-button { display:block; width:100%; }
}

/* Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {

    .option-list.extras .option .bkg,
    .option-list.extras .location .bkg,
    .option-list .option .bkg,
    .option-list .location .bkg {
        background:none;
    }
    .option-list .location {
        position: relative;
        background:#666;
        padding:0 8px;
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }
    .option-list.extras .location {
        background:#999;
        padding:0 8px;
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }
    .option-list .option {
        padding:0 8px;
        background:#eaeaea;
        background:-moz-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#e0e0e0));
        background:-webkit-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:-o-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:-ms-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:linear-gradient(to bottom, #eaeaea 0%,#e0e0e0 100%);
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }
    .option-list.extras .option {
        padding:0 8px;
        background:#eaeaea;
        background:-moz-linear-gradient(top, #eaeaea 0%, #f1f1f1 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f1f1f1));
        background:-webkit-linear-gradient(top, #eaeaea 0%,#f1f1f1 100%);
        background:-o-linear-gradient(top, #eaeaea 0%,#f1f1f1 100%);
        background:-ms-linear-gradient(top, #eaeaea 0%,#f1f1f1 100%);
        background:linear-gradient(to bottom, #eaeaea 0%,#f1f1f1 100%);
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }
}

/* Clears */
.responsive-location-results .location-details .more-info .actions:after,
.responsive-location-results .location-filters:after,
.responsive-location-results .location-details .content:after,
.responsive-location-search:after,
.responsive-switch-wrapper ul:after {
     content:".";
     display:block;
     clear:both;
     height:0;
     line-height:0;
     overflow:hidden;
}
