/* Additional Mediaqueries for OneStepCheckout =========================================== */
@media screen and (min-width : 954px) {
    .responsive-switch-wrapper,
    #postnl_responsive { display:none; }
}

@media screen and (max-width : 953px) {
    #postnl_delivery_options h3.sub-title,
    #postnl_add_moment,
    #postnl_delivery_options { display:none !important; }
    #carrier_postnl.options-available { max-width:100% !important; }
    .postnl-container .col-1, 
    .postnl-container .col-2 { padding:0; }
    #osc_scrollbar_content .option-list li { padding:0 8px; }
    #osc_scrollbar_content #add_location.option-list li { padding:0; }
       
    #postnl_delivery_options { display:block !important; }
    #postnl_delivery_options .popup-overlay { position:static; }
    #postnl_delivery_options .popup-window {  position:static; margin:0; padding:0; width:auto; height:auto; -webkit-box-shadow:none; box-shadow:none; -moz-box-shadow:none;  }
    #postnl_delivery_options .popup-content { width:9999em; height:auto; }
    #postnl_delivery_options .popup-header,
    #postnl_delivery_options .button-set,
    #initial_loader, 
    #osc_scrollbar_track { display:none; }
    #osc_scrollbar_container { width:100%; }
    
    .checkoutcontainer div.onestepcheckout-column-left,
    .checkoutcontainer div.onestepcheckout-column-middle,
    .checkoutcontainer div.onestepcheckout-column-right { width:100% !important; margin:0 !important; padding-right:0 !important; }
    table.onestepcheckout-totals,
    table.onestepcheckout-summary { width:100% !important; }
        
    #onestepcheckout-form .group-select { padding:0 !important; }
    #osc_scrollbar_content {
        -webkit-transition:-webkit-transform 250ms linear;
             -o-transition:-o-transform 250ms linear;
                transition:transform 250ms linear; 
    }
    #postnl_pickup,
    #postnl_delivery { float:left !important; margin-right:34px; }
    
    .responsive-protector { overflow:hidden !important; }
    .responsive-switch-wrapper { display:block; margin:16px 0 24px; }
    .responsive-switch-wrapper li { display:block; float:left; width:50%; box-sizing:border-box; text-align:center; }
    .responsive-switch-wrapper li:first-child { padding-right:2px; }
    .responsive-switch-wrapper li:last-child { padding-left:2px; }
    .responsive-switch-wrapper li:first-child a { border-radius:3px 0 0 3px; }
    .responsive-switch-wrapper li:last-child a { border-radius:0 3px 3px 0; }
    .responsive-switch-wrapper li a { box-sizing:border-box; display:block; border:1px solid #bbb; width:100%; height:40px; background:#fff; line-height:38px; font-weight:bold; color:#ed8c00; font-size:13px; text-align:center; text-decoration:none !important; text-transform:uppercase; }
    .responsive-switch-wrapper li a.active { color:#fff; border:none; line-height:40px;
        background:-moz-linear-gradient(top, #f28d1f 0%, #ec6921 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f28d1f), color-stop(100%,#ec6921));
        background:-webkit-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:-o-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:-ms-linear-gradient(top, #f28d1f 0%,#ec6921 100%);
        background:linear-gradient(to bottom, #f28d1f 0%,#ec6921 100%);
    }
    
    .option-list .option .bkg,
    .option-list .location .bkg { background:none; padding:0 !important; }
    .option-list .location { background:#666; padding:0 8px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
    .option-list .option { padding:0 8px; background:#eaeaea; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
        background:-moz-linear-gradient(top, #eaeaea 0%, #e0e0e0 100%);
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#e0e0e0));
        background:-webkit-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:-o-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:-ms-linear-gradient(top, #eaeaea 0%,#e0e0e0 100%);
        background:linear-gradient(to bottom, #eaeaea 0%,#e0e0e0 100%);
    }
    
}
/* ======================================================================================= */