<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 *                  ___________       __            __   
 *                  \__    ___/____ _/  |_ _____   |  |  
 *                    |    |  /  _ \\   __\\__  \  |  |
 *                    |    | |  |_| ||  |   / __ \_|  |__
 *                    |____|  \____/ |__|  (____  /|____/
 *                                              \/       
 *          ___          __                                   __   
 *         |   |  ____ _/  |_   ____ _______   ____    ____ _/  |_ 
 *         |   | /    \\   __\_/ __ \\_  __ \ /    \ _/ __ \\   __\
 *         |   ||   |  \|  |  \  ___/ |  | \/|   |  \\  ___/ |  |  
 *         |___||___|  /|__|   \_____>|__|   |___|  / \_____>|__|  
 *                  \/                           \/               
 *                  ________       
 *                 /  _____/_______   ____   __ __ ______  
 *                /   \  ___\_  __ \ /  _ \ |  |  \\____ \ 
 *                \    \_\  \|  | \/|  |_| ||  |  /|  |_| |
 *                 \______  /|__|    \____/ |____/ |   __/ 
 *                        \/                       |__|    
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License.
 * It is available through the world-wide-web at this URL: 
 * http://creativecommons.org/licenses/by-nc-nd/3.0/nl/deed.en_US
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to servicedesk@totalinternetgroup.nl so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade this module to newer
 * versions in the future. If you wish to customize this module for your
 * needs please contact servicedesk@totalinternetgroup.nl for more information.
 *
 * @copyright   Copyright (c) 2013 Total Internet Group B.V. (http://www.totalinternetgroup.nl)
 * @license     http://creativecommons.org/licenses/by-nc-nd/3.0/nl/deed.en_US
 */		
-->
<config>
	<modules>
		<TIG_PostNL>
			<version>0.1.0</version>
		</TIG_PostNL>
	</modules>
	
	<global>
		<blocks>
        	<!-- Block definitions per submodule -->
			<postnl>
				<class>TIG_PostNL_Block</class>
			</postnl>
			<postnl_adminhtml>
				<class>TIG_PostNL_Block_Adminhtml</class>
			</postnl_adminhtml>
		</blocks>
		<helpers>
			<postnl>
				<class>TIG_PostNL_Helper</class>
			</postnl>
		</helpers>
        <models>
        	<!-- Model definitions per submodule -->
            <postnl>
                <class>TIG_PostNL_Model</class>
                <resourceModel>postnl_resource</resourceModel>
            </postnl>
            <postnl_core>
                <class>TIG_PostNL_Model_Core</class>
            </postnl_core>
            <postnl_carrier>
                <class>TIG_PostNL_Model_Carrier</class>
            </postnl_carrier>
            <postnl_adminhtml>
            	<class>TIG_PostNL_Model_Adminhtml</class>
            </postnl_adminhtml>
            
            <!-- Resource model definitions per submodule -->
            <postnl_resource>
                <class>TIG_PostNL_Model_Resource</class>
                <entities>
                    <shipment>
                        <table>tig_postnl_shipment</table>
                    </shipment>
                    <shipment_label>
                        <table>tig_postnl_shipment_label</table>
                    </shipment_label>
                </entities>
            </postnl_resource>
        </models>
        <resources>
            <postnl_setup>
                <setup>
                    <module>TIG_PostNL</module>
                    <class>TIG_PostNL_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postnl_setup>
            <postnl_write>
                <connection>
                	<use>core_write</use>
                </connection>
            </postnl_write>
            <postnl_read>
                <connection>
               		<use>core_read</use>
            	</connection>
            </postnl_read>
        </resources>
        <events>
        	<sales_order_shipment_save_after>
        		<observers>
        			<!-- Creates a postnl shipment entity and generates a barcode through CIF-->
        			<postnl_shipment_generate_barcode>
					    <type>Model</type>
					    <class>postnl_core/observer_barcode</class>
					    <method>generateBarcode</method>
        			</postnl_shipment_generate_barcode>
        		</observers>
        	</sales_order_shipment_save_after>
        </events>
	</global>
	
    <admin>
        <routers>
            <postnl>
                <use>admin</use>
                <args>
                    <module>TIG_PostNL</module>
                    <frontName>postnl</frontName>
                </args>
            </postnl>
        </routers>
    </admin>
    
    <adminhtml>
		<events>
			<adminhtml_block_html_before>
			    <observers>
			   		<!-- Adds a massaction the grid that allows merchants to create shipments for selected orders-->
				    <postnl_adminhtml_ordergrid>
					    <type>Model</type>
					    <class>postnl_adminhtml/observer_orderGrid</class>
					    <method>modifyGrid</method>
				    </postnl_adminhtml_ordergrid>
					<!-- Adds new columns to the shipment grid and allows these columns to be filtered and sorted properly -->
					<postnl_adminhtml_shipmentgrid>
						<type>singleton</type>
						<class>postnl_adminhtml/observer_shipmentGrid</class>
						<method>modifyGrid</method>
					</postnl_adminhtml_shipmentgrid>
			    </observers>
			</adminhtml_block_html_before>
		</events>
		<layout>
            <updates>
                <postnl>
                    <file>TIG/postnl.xml</file>
                </postnl>
        	</updates>
		</layout>
    </adminhtml>
    
    <crontab>
        <jobs>
        	<!-- remove old temporary label files (by default files older than 5 min will be deleted) -->
            <clean_temp_labels>
                <schedule>
                	<cron_expr>*/5 * * * *</cron_expr> <!-- every 5 minutes -->
                </schedule>
                <run>
                	<model>postnl_core/observer_cron::cleanTempLabels</model>
                </run>
            </clean_temp_labels>
        	<!-- get missing barcodes for postnl shipments -->
            <get_missing_barcodes>
                <schedule>
                	<cron_expr>*/30 * * * *</cron_expr> <!-- every 30 minutes -->
                </schedule>
                <run>
                	<model>postnl_core/observer_cron::getBarcodes</model>
                </run>
            </get_missing_barcodes>
        </jobs>
    </crontab>
    
    <!-- default configuration values. You can edit most of these in system/config -->
    <default>
        <carriers>
            <postnl>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>postnl_carrier/postnl</model>
                <name>PostNL</name>
                <price>5.00</price>
                <title>PostNL</title>
                <type>I</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </postnl>
        </carriers>
        <postnl>
        	<general>
        		<active>0</active> <!-- inactive -->
        	</general>
        	<cif>
        		<mode>1</mode> <!-- test mode -->
        		<live_username/>
        		<live_password/>
        		<test_username/>
        		<test_password/>
        		<customer_code/>
        		<customer_number/>
        		<company_name/>
        		<contact_name/>
        		<contact_email/>
        		<collection_location/>
        	</cif>
        	<cif_address>
        		<split_street>1</split_street> <!-- split street -->
        		<streetname_field>1</streetname_field> <!-- first address line -->
        		<housenr_field>2</housenr_field> <!-- second address line -->
        		<split_housenr>0</split_housenr> <!-- do not split housenr and extension -->
        		<housenr_extension_field>3</housenr_extension_field> <!-- third address line (not used, since split_housenr is disabled) -->
        	</cif_address>
        	<cif_sender_address>
        		<firstname/>
        		<lastname/>
        		<company/>
        		<street_full/>
        		<postcode/>
        		<city/>
        		<region/>
        		<country>NL</country> <!-- All sender's must be located in the Netherlands -->
        	</cif_sender_address>
        	<cif_product_options>
        		<show_grid_options>0</show_grid_options> <!-- Do not show product options in the order grid -->
        		<default_product_options>3085</default_product_options> <!-- standard shipment -->
        		<default_pakjegemak_product_options>3533</default_pakjegemak_product_options> <!-- PakjeGemak + signature on delivery -->
        		<default_eu_product_options>4944</default_eu_product_options> <!-- EU Pack Special to consumer -->
        		<default_global_product_options>4945</default_global_product_options> <!-- GlobalPack -->
        	</cif_product_options>
        	<advanced>
        		<infinite_label_printing>0</infinite_label_printing> <!-- do not allow infinite printing -->
        		<max_temp_file_storage_time>300</max_temp_file_storage_time> <!-- 300 seconds (5 min) -->
        	</advanced>
        </postnl>
    </default>
</config>
