<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 *                  ___________       __            __   
 *                  \__    ___/____ _/  |_ _____   |  |  
 *                    |    |  /  _ \\   __\\__  \  |  |
 *                    |    | |  |_| ||  |   / __ \_|  |__
 *                    |____|  \____/ |__|  (____  /|____/
 *                                              \/       
 *          ___          __                                   __   
 *         |   |  ____ _/  |_   ____ _______   ____    ____ _/  |_ 
 *         |   | /    \\   __\_/ __ \\_  __ \ /    \ _/ __ \\   __\
 *         |   ||   |  \|  |  \  ___/ |  | \/|   |  \\  ___/ |  |  
 *         |___||___|  /|__|   \_____>|__|   |___|  / \_____>|__|  
 *                  \/                           \/               
 *                  ________       
 *                 /  _____/_______   ____   __ __ ______  
 *                /   \  ___\_  __ \ /  _ \ |  |  \\____ \ 
 *                \    \_\  \|  | \/|  |_| ||  |  /|  |_| |
 *                 \______  /|__|    \____/ |____/ |   __/ 
 *                        \/                       |__|    
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Creative Commons License.
 * It is available through the world-wide-web at this URL: 
 * http://creativecommons.org/licenses/by-nc-nd/3.0/nl/deed.en_US
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to servicedesk@totalinternetgroup.nl so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade this module to newer
 * versions in the future. If you wish to customize this module for your
 * needs please contact servicedesk@totalinternetgroup.nl for more information.
 *
 * @copyright   Copyright (c) 2013 Total Internet Group B.V. (http://www.totalinternetgroup.nl)
 * @license     http://creativecommons.org/licenses/by-nc-nd/3.0/nl/deed.en_US
 */		
-->
<config>
	<modules>
		<TIG_PostNL>
			<version>0.2.9</version>
		</TIG_PostNL>
	</modules>
	
	<global>
		<blocks>
        	<!-- Block definitions per submodule -->
			<postnl>
				<class>TIG_PostNL_Block</class>
			</postnl>
			<postnl_core>
				<class>TIG_PostNL_Block_Core</class>
			</postnl_core>
			<postnl_adminhtml>
				<class>TIG_PostNL_Block_Adminhtml</class>
			</postnl_adminhtml>
		</blocks>
		<helpers>
			<postnl>
				<class>TIG_PostNL_Helper</class>
			</postnl>
		</helpers>
        <models>
        	<!-- Model definitions per submodule -->
            <postnl>
                <class>TIG_PostNL_Model</class>
                <resourceModel>postnl_resource</resourceModel>
            </postnl>
            <postnl_core>
                <class>TIG_PostNL_Model_Core</class>
                <resourceModel>postnl_core_resource</resourceModel>
            </postnl_core>
            <postnl_carrier>
                <class>TIG_PostNL_Model_Carrier</class>
            </postnl_carrier>
            <postnl_adminhtml>
            	<class>TIG_PostNL_Model_Adminhtml</class>
            </postnl_adminhtml>
            
            <!-- Resource model definitions per submodule -->
            <postnl_resource>
                <class>TIG_PostNL_Model_Resource</class>
            </postnl_resource>
            <postnl_core_resource>
                <class>TIG_PostNL_Model_Core_Resource</class>
                <entities>
                    <shipment>
                        <table>tig_postnl_shipment</table>
                    </shipment>
                    <shipment_label>
                        <table>tig_postnl_shipment_label</table>
                    </shipment_label>
                    <shipment_barcode>
                        <table>tig_postnl_shipment_barcode</table>
                    </shipment_barcode>
                    <shipment_status_history>
                        <table>tig_postnl_shipment_status_history</table>
                    </shipment_status_history>
                </entities>
            </postnl_core_resource>
        </models>
        <resources>
            <postnl_setup>
                <setup>
                    <module>TIG_PostNL</module>
                    <class>TIG_PostNL_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postnl_setup>
            <postnl_write>
                <connection>
                	<use>core_write</use>
                </connection>
            </postnl_write>
            <postnl_read>
                <connection>
               		<use>core_read</use>
            	</connection>
            </postnl_read>
        </resources>
        <events>
        	<sales_order_shipment_save_after>
        		<observers>
        			<!-- Creates a postnl shipment entity and generates a barcode through CIF-->
        			<postnl_shipment_generate_barcode>
					    <type>Model</type>
					    <class>postnl_core/observer_barcode</class>
					    <method>generateBarcode</method>
        			</postnl_shipment_generate_barcode>
        		</observers>
        	</sales_order_shipment_save_after>
        </events>
        <template>
            <email>
                <track_and_trace translate="label" module="postnl">
                    <label>PostNL Track &amp; Trace Email</label>
                    <file>TIG/PostNL/track_and_trace.html</file>
                    <type>html</type>
                </track_and_trace>
            </email>
        </template>
	</global>
	
    <admin>
        <routers>
            <postnl>
                <use>admin</use>
                <args>
                    <module>TIG_PostNL</module>
                    <frontName>postnl</frontName>
                </args>
            </postnl>
        </routers>
    </admin>
    
    <adminhtml>
		<events>
			<adminhtml_block_html_before>
			    <observers>
			   		<!-- Adds a massaction the grid that allows merchants to create shipments for selected orders-->
				    <postnl_adminhtml_ordergrid>
					    <type>model</type>
					    <class>postnl_adminhtml/observer_orderGrid</class>
					    <method>modifyGrid</method>
				    </postnl_adminhtml_ordergrid>
					<!-- Adds new columns to the shipment grid and allows these columns to be filtered and sorted properly -->
					<postnl_adminhtml_shipmentgrid>
						<type>model</type>
						<class>postnl_adminhtml/observer_shipmentGrid</class>
						<method>modifyGrid</method>
					</postnl_adminhtml_shipmentgrid>
                    <!-- Adds a new print shipping label button to the shipment view page -->
                    <postnl_adminhtml_shipmentview>
                        <type>model</type>
                        <class>postnl_adminhtml/observer_shipmentView</class>
                        <method>addPrintLabelButton</method>
                    </postnl_adminhtml_shipmentview>
			    </observers>
			</adminhtml_block_html_before>
			<controller_action_predispatch_adminhtml_sales_order_shipment_save>
                <observers>
                    <!-- Registers the product option the user selected on the sales_order_shipment_new page -->
                    <postnl_core_shipment_save>
                        <type>model</type>
                        <class>postnl_core/observer_saveShipment</class>
                        <method>registerProductOption</method>
                    </postnl_core_shipment_save>
                </observers>
			</controller_action_predispatch_adminhtml_sales_order_shipment_save>
		</events>
		<layout>
            <updates>
                <postnl>
                    <file>TIG/postnl.xml</file>
                </postnl>
        	</updates>
		</layout>
    </adminhtml>
    
    <frontend>
		<layout>
            <updates>
                <postnl>
                    <file>TIG/postnl.xml</file>
                </postnl>
        	</updates>
		</layout>
    </frontend>
    
    <crontab>
        <jobs>
        	<!-- remove old temporary label files (by default files older than 5 min will be deleted) -->
            <postnl_clean_temp_labels>
                <schedule>
                	<cron_expr>*/5 * * * *</cron_expr> <!-- every 5 minutes -->
                </schedule>
                <run>
                	<model>postnl_core/observer_cron::cleanTempLabels</model>
                </run>
            </postnl_clean_temp_labels>
        	<!-- get missing barcodes for postnl shipments -->
            <postnl_get_missing_barcodes>
                <schedule>
                	<cron_expr>*/30 * * * *</cron_expr> <!-- every 30 minutes -->
                </schedule>
                <run>
                	<model>postnl_core/observer_cron::getBarcodes</model>
                </run>
            </postnl_get_missing_barcodes>
            <!-- Update the shipping status for all undelivered PostNL shipments -->
            <postnl_update_shipping_status>
                <!-- No cron expression. A semi-random cron expression is generated when the module first is installed. It's stored in the core_config_data table. -->
            	<run>
            		<model>postnl_core/observer_cron::updateShippingStatus</model>
            	</run>
            </postnl_update_shipping_status>
            <!-- Expire confirmations of shipments that have been confirmed, but have not been shipped within the maximum number of days -->
            <postnl_expire_confirmation>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr> <!-- every hour on the hour -->
                </schedule>
                <run>
                    <model>postnl_core/observer_cron::expireConfirmation</model>
                </run>
            </postnl_expire_confirmation>
            <!-- Sends track and trace emails for all shipments that have been confirmed -->
            <postnl_send_track_and_trace_email>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr> <!-- every 15 minutes -->
                </schedule>
                <run>
                    <model>postnl_core/observer_cron::sendTrackAndTraceEmail</model>
                </run>
            </postnl_send_track_and_trace_email>
        </jobs>
    </crontab>
    
    <!-- default configuration values. You can edit most of these in system/config -->
    <default>
        <carriers>
            <postnl>
                <active>0</active> <!-- disabled -->
                <sallowspecific>0</sallowspecific> <!-- Allow all countried -->
                <model>postnl_carrier/postnl</model> <!-- TIG_PostNL_Model_Carrier_Postnl -->
                <name>PostNL</name> <!-- PostNL -->
                <price>5.00</price> <!-- 5 EUR -->
                <title>PostNL</title> <!-- PostNL -->
                <type>I</type> <!-- Price is calculated per item -->
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </postnl>
        </carriers>
        <postnl>
        	<general>
        		<active>0</active> <!-- inactive -->
        	</general>
        	<cif>
        		<mode>1</mode> <!-- test mode -->
        		<live_username/>
        		<live_password/>
        		<test_username/>
        		<test_password/>
        		<customer_code/>
        		<customer_number/>
        		<company_name/>
        		<contact_name/>
        		<contact_email/>
        		<collection_location/>
        	</cif>
        	<cif_labels_and_confirming>
                <label_size>A4</label_size> <!-- A4 size labels -->
                <shipping_grid_columns>shipping_description,labels_printed,shipping_phase</shipping_grid_columns> <!-- Show all optional columns -->
                <shipping_grid_massaction_default>postnl_print_labels_and_confirm</shipping_grid_massaction_default> <!-- 'Print labels and confirm shipment' massaction -->
                <weight_per_parcel>20</weight_per_parcel> <!-- 20 kg -->
                <send_track_and_trace_email>1</send_track_and_trace_email> <!-- automatically send a track & trace email to the customer -->
                <track_and_trace_email_template/>
        	</cif_labels_and_confirming>
        	<cif_address>
        		<split_street>1</split_street> <!-- split street -->
        		<streetname_field>1</streetname_field> <!-- first address line -->
        		<housenr_field>2</housenr_field> <!-- second address line -->
        		<split_housenr>0</split_housenr> <!-- do not split housenr and extension -->
        		<housenr_extension_field>3</housenr_extension_field> <!-- third address line (not used, since split_housenr is disabled) -->
        	    <area_field/>
        	    <building_name_field/>
        	    <department_field/>
        	    <doorcode_field/>
        	    <floor_field/>
        	    <remark_field/>
        	</cif_address>
        	<cif_sender_address>
        		<firstname/>
        		<lastname/>
        		<company/>
        		<streetname/>
                <housenumber/>
                <housenumber_extension/>
        		<postcode/>
        		<city/>
        		<region/>
        		<country>NL</country> <!-- All sender's must be located in the Netherlands -->
        	</cif_sender_address>
        	<cif_return_address>
        	    <use_sender_address>1</use_sender_address> <!-- use the sender address as the return address -->
                <firstname/>
                <lastname/>
                <company/>
                <streetname/>
                <housenumber/>
                <housenumber_extension/>
                <postcode/>
                <city/>
                <region/>
                <country>NL</country> <!-- All return addresses must be located in the Netherlands -->
        	</cif_return_address>
        	<cif_product_options>
        		<show_grid_options>0</show_grid_options> <!-- Do not show product options in the order grid -->
        		<supported_product_options>3085,3086,3091,3093,3097,3087,3094,3189,3089,3389,3096,3090,3385,3390,3535,3545,3536,3546,3534,3544,3533,3543,4950,4952,4954,4955,4945</supported_product_options> <!-- all possible options -->
        		<default_product_option>3085</default_product_option> <!-- standard shipment -->
        		<use_alternative_default>0</use_alternative_default> <!-- Do not use an alternative default -->
        		<alternative_default_max_amount>100</alternative_default_max_amount> <!-- 100 EUR -->
        		<alternative_default_option>3189</alternative_default_option> <!-- Signature on delivery -->
        		<default_pakjegemak_product_option>3533</default_pakjegemak_product_option> <!-- PakjeGemak + signature on delivery -->
        		<default_eu_product_option>4952</default_eu_product_option> <!-- EU Pack Special to consumer (combilabel) -->
        		<default_global_product_option>4945</default_global_product_option> <!-- GlobalPack -->
        		<weight_unit>gram</weight_unit> <!-- gram -->
        	</cif_product_options>
        	<cif_globalpack_settings>
        	    <customs_license_number/>
        	    <customs_certificate_number/>
        		<use_hs_tariff>0</use_hs_tariff> <!-- Do not use a specific HS tariff -->
        		<hs_tariff_attribute/>
        		<customs_value_attribute>price</customs_value_attribute> <!-- price attribute -->
        		<country_of_origin_attribute>country_of_manufacture</country_of_origin_attribute> <!-- country of manufacture attribute -->
        		<description_attribute>short_description</description_attribute> <!-- short description attribute -->
        		<product_sorting_attribute>price</product_sorting_attribute> <!-- price attribute -->
        		<product_sorting_direction>desc</product_sorting_direction> <!-- descending -->
        	</cif_globalpack_settings>
        	<advanced>
        	    <debug_mode>1</debug_mode> <!-- Exception logging only -->
        		<infinite_label_printing>0</infinite_label_printing> <!-- do not allow infinite printing -->
        		<max_temp_file_storage_time>300</max_temp_file_storage_time> <!-- 300 seconds (5 min) -->
        		<confirm_expire_days>9</confirm_expire_days> <!-- 9 days -->
        	</advanced>
        </postnl>
    </default>
</config>
