a.postnl-message {color:#EA7601 !important; text-decoration:underline;}

/* Messages */
.module-message { padding:9px 9px 2px 30px; margin-bottom:20px; border:1px solid #ccc; color:#2f2f2f !important; font-weight:normal !important; }
.module-message li { margin-bottom:4px; }
.module-message.success { background:#edf7eb url(../../../images/TIG/PostNL/glyph_success.gif) 9px 9px no-repeat; border-color:#22731f; }
.module-message.info { background:#e6eef8 url(../../../images/TIG/PostNL/glyph_info.gif) 9px 9px no-repeat; border-color:#264697; }
.module-message.warning { background:#fff7bd url(../../../images/TIG/PostNL/glyph_warning.gif) 9px 9px no-repeat; border-color:#c68c05; }
.module-message.error { background:#fdece4 url(../../../images/TIG/PostNL/glyph_error.gif) 9px 9px no-repeat; border-color:#c63625; }
.module-message ul.postnl-errors {list-style:disc inside; }
