.progress-wrapper { color:#555; height:34px; width:100%; background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 0 repeat-x; margin:20px 0; position:relative; }
.progress-wrapper .progress { width:25%; float:left; text-align:center; height:34px; }
.progress-wrapper .progress strong { display:inline-block; padding-top:8px; }
.progress-wrapper .progress span { display:block; position:absolute; top:0; }

.progress-wrapper .progress .seperator { width:34px; height:34px; background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -68px no-repeat; margin-left:25%; }
.progress-wrapper .progress .begin { width:18px; height:34px; background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -170px no-repeat; left:0; }
.progress-wrapper .progress .end { width:18px; height:34px; background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -272px no-repeat; right:0; }

.status-delivered .progress-collection,
.status-delivered .progress-distribution,
.status-delivered .progress-transit,
.status-delivered .progress-delivered,
.status-transit .progress-collection,
.status-transit .progress-distribution,
.status-transit .progress-transit,
.status-distribution .progress-collection,
.status-distribution .progress-distribution,
.status-collection .progress-collection { color:#fff; }

.status-delivered .progress-delivered,
.status-delivered .progress-transit,
.status-delivered .progress-distribution,
.status-delivered .progress-collection,
.status-transit .progress-transit,
.status-transit .progress-distribution,
.status-transit .progress-collection,
.status-distribution .progress-distribution,
.status-distribution .progress-collection,
.status-collection .progress-collection { background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -34px repeat-x; }

.status-delivered .progress-collection .begin,
.status-transit .progress-collection .begin,
.status-distribution .progress-collection .begin,
.status-collection .progress-collection .begin { background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -204px no-repeat; }

.status-transit .progress-transit .seperator,
.status-distribution .progress-distribution .seperator,
.status-collection .progress-collection .seperator { background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -102px no-repeat; }

.status-delivered .progress-transit .seperator,
.status-delivered .progress-distribution .seperator,
.status-delivered .progress-collection .seperator,
.status-transit .progress-distribution .seperator,
.status-transit .progress-collection .seperator,
.status-distribution .progress-collection .seperator { background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -136px no-repeat; }

.status-delivered .progress-delivered .end { background:url(../../../images/TIG/PostNL/bkg_progress_sprite.png) 0 -238px no-repeat; }

.hidden { display:none !important; }