/* General */
#postnl_support p,
#postnl_support ul,
#postnl_support ol { padding:6px 0 10px;  }
#postnl_support ul.postnl-config-warning {list-style:disc inside none; }
#postnl_support ol { list-style:decimal inside; }
#postnl_support ol ol { list-style:lower-alpha inside; padding:0 0 10px 12px; }
#postnl_support ul ul { list-style:none; padding:0 0 10px 12px; }
#postnl_support h2.content-heading { color:#ea7601; border-bottom:4px solid #dfdfdf; }
#postnl_support h4,
#postnl_support p { margin:0;}
#postnl_support a.pdf { display:inline-block; height:16px; line-height:16px; padding:0 0 0 21px; background:url(../../../images/TIG/PostNL/glyph_pdf.png) no-repeat; }
#postnl_support a.link { display: inline-block; height: 16px; line-height: 16px; padding: 0 0 0 21px; background:url(../../../images/btn_go.gif) no-repeat 0 40%; }
#postnl_support .text-box { background:#fff; padding:9px 16px; margin:6px 0 10px; border:1px solid #ccc; }
#postnl_support table.contact { margin:0 0 25px -1px; }
#postnl_support table.contact td { padding:0; }
#postnl_support table.contact td.first { width:150px; padding-right:5px; }

/* Legend */
#postnl_support #legend li { background:url(../../../images/TIG/PostNL/legend.gif) 0 0 no-repeat; padding-left:14px;  }
#postnl_support #legend li.disabled { background-position:0 4px; }
#postnl_support #legend li.test { background-position:0 -25px; }
#postnl_support #legend li.live { background-position:0 -54px; }
#postnl_support #legend li.advanced { background-position:0 -83px; }

/* Structure */
#postnl_support .form-list,
#postnl_support #supportWrap { width:100% !important; }
#postnl_support #supportWrap .col-left,
#postnl_support #supportWrap .col-right { width:50%; }
#postnl_support #supportWrap .col-faux { padding:0 5px;  }

/* Config Header */
.content-header h3 { background:transparent url(../../../images/TIG/PostNL/logo_postnl.png) 0 0 no-repeat !important; height:25px; padding-left:31px; line-height:24px; }

/* Required Inputs */
input.postnl-validate-empty.input-text { border-color:#f00 !important; }

/* PostNL specific fields */
button.postnl-button { width:280px; margin-right:5px; }
