/* General */
#postnl_support p,
#postnl_support ul,
#postnl_support ol { padding:6px 0 10px;  }
#postnl_support ul.postnl-config-warning {list-style:disc inside none; }
#postnl_support ol { list-style:decimal inside; }
#postnl_support ol ol { list-style:lower-alpha inside; padding:0 0 10px 12px; }
#postnl_support ul ul { list-style:none; padding:0 0 10px 12px; }
#postnl_support h2.content-heading { color:#ea7601; border-bottom:4px solid #dfdfdf; }
#postnl_support h4,
#postnl_support p { margin:0;}
#postnl_support a.pdf { display:inline-block; height:16px; line-height:16px; padding:0 0 0 21px; background:url(../../../images/TIG/PostNL/glyph_pdf.png) no-repeat; }
#postnl_support a.link { display: inline-block; height: 16px; line-height: 16px; padding: 0 0 0 21px; background:url(../../../images/btn_go.gif) no-repeat 0 40%; }
#postnl_support .text-box { background:#fff; padding:9px 16px; margin:6px 0 10px; border:1px solid #ccc; }
#postnl_support table.contact { margin:0 0 25px -1px; }
#postnl_support table.contact td { padding:0; }
#postnl_support table.contact td.first { width:150px; padding-right:5px; }

/* Legend */
#postnl_support #legend li { background:url(../../../images/TIG/PostNL/legend.gif) 0 0 no-repeat; padding-left:14px;  }
#postnl_support #legend li.disabled { background-position:0 4px; }
#postnl_support #legend li.test { background-position:0 -25px; }
#postnl_support #legend li.live { background-position:0 -54px; }
#postnl_support #legend li.advanced { background-position:0 -83px; }

/* Structure */
#postnl_support .form-list,
#postnl_support #supportWrap { width:100% !important; }
#postnl_support #supportWrap .col-left,
#postnl_support #supportWrap .col-right { width:50%; }
#postnl_support #supportWrap .col-faux { padding:0 5px;  }

/* Config Header */
.content-header h3 { background:transparent url(../../../images/TIG/PostNL/logo_postnl.png) 0 0 no-repeat !important; height:25px; padding-left:31px; line-height:24px; }

/* Required Inputs */
input.postnl-validate-empty-failed.input-text { border-color:#f00 !important; }

/* PostNL specific fields */
.columns .postnl-support .form-list td.value input[type="checkbox"][id*="use_"] { margin: inherit; vertical-align: middle; }
button.postnl-button { width:280px; margin-right:5px; }
#row_postnl_delivery_options_sameday_delivery_cutoff_time td.value label,
#row_postnl_cif_labels_and_confirming_cutoff_time td.value label,
#row_postnl_cif_labels_and_confirming_sunday_cutoff_time td.value label{ margin: 0 10px; }
#row_postnl_delivery_options_sameday_delivery_cutoff_time td.value select,
#row_postnl_cif_labels_and_confirming_cutoff_time td.value select,
#row_postnl_cif_labels_and_confirming_sunday_cutoff_time td.value select{ width:50px !important; }
#postnl_config_loader { width:100%; height:60px; text-align:center; background:url(../../../images/TIG/PostNL/loader_default.gif) center top no-repeat; padding-top:42px; }
#row_postnl_packing_slip_item_columns .value.with-tooltip {width:680px; }
#row_postnl_packing_slip_item_columns .grid { width:650px; float:left; }
#row_postnl_packing_slip_item_columns .field-tooltip { float:right; }

/* Support-tab Buttons */
.manual-links li { display:inline-block; margin-right:6px !important; }
.manual-links li a { text-decoration:none; display:inline-block; height:31px; line-height:32px; background:#9c0 url(../../../images/TIG/PostNL/glyph_go.png) 13px 11px no-repeat; color:#fff; border:1px solid #8cba00; border-radius:2px; padding:0 13px 0 30px; -moz-box-shadow:0 2px 4px 1px rgba(0,0,0,0.14); box-shadow:0 2px 4px 1px rgba(0,0,0,0.14); }
.manual-links li a:hover { -moz-box-shadow:none; box-shadow:none; }
.manual-links li a:active { border-color:#9c0; position:relative; top:1px; }

/* Wizard */
#postnl_wizard .entry-edit-head { display:none; }
#postnl_wizard ul { height:28px; background:#e6e6e6; border:1px solid #d6d6d6; }
#postnl_wizard li { float:left; margin:0; }
#postnl_wizard li a { display:block; line-height:28px; padding:0 15px; color:#2f2f2f; font-weight:bold; text-decoration:none; }
#postnl_wizard li a:hover { color:#ea7601; }
#postnl_wizard li a.active { background:#ea7601; color:#fff; }
#postnl_advanced_group { border-top:0; }
#row_postnl_cif_sender_address_region,
#postnl_cif_sender_address_return_region { display:none; }
.wrapper-radio { margin-bottom:3px; }
.wrapper-radio input { margin-right:10px; }
.wizard-success { background:#3ead52; color:#fff; padding:12px 16px; margin:0 0 10px; }

#postnl_support table.contact td.icon { padding-left: 20px; background-position: center left; background-repeat: no-repeat; }
.icon-nl { background-image: url(../../../images/TIG/PostNL/flags/nl.png); }
.icon-nl { background-image: url(../../../images/TIG/PostNL/flags/nl.png); }
.icon-website { background-image: url(../../../images/TIG/PostNL/website.png); }
