<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.0/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
            <exclude>Unit/Model/DeliveryOptions/Observer/GoMage</exclude>
        </testsuite>
        <testsuite name="gomage">
            <directory>Unit/Model/DeliveryOptions/Observer/GoMage</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhiteList="true">
            <directory>../../PostNL/Block</directory>
            <directory>../../PostNL/controllers</directory>
            <directory>../../PostNL/Helper</directory>
            <directory>../../PostNL/Model</directory>
            <file>../../PostNL/Exception.php</file>
        </whitelist>
    </filter>
</phpunit>
