/* Generic =============================================================================== */
#postnl_mijnpakket_login_btn span { border:none; cursor:pointer; }
#postnl_mijnpakket_login_btn span img { border:none; }

/* MijnPakket login button =============================================================== */
hr.mijnpakket_seperator { clear:both; border:none; display:block; height:1px; background:#cfcfcf; margin:15px 0; }
#onestepcheckout-form hr.mijnpakket_seperator { background:#d8d2c7;}
#postnl_mijnpakket_login iframe { margin:0 -8px -6px 0 !important; }
#mijnpakket_text .clearfix h4 { float:left; }
#checkout-step-billing #mijnpakket_text { float:left; width:500px; }
#checkout-step-billing #mijnpakket_text p { padding-top:5px; }
#checkout-step-login #mijnpakket_buttons,
#checkout-step-billing #mijnpakket_buttons { float:right; }
#checkout-step-billing #postnl_mijnpakket div,
#onestepcheckout-form #postnl_mijnpakket div { padding-top:6px; }
#postnl_mijnpakket_tooltip { float:left; margin-left:10px; }
#login-buttons-container { opacity:1 !important; }
#mijnpakket_data_loaded { border: 1px solid #ccc; background: #fff; padding: 5px; margin-bottom: 16px; }

/* Tooltip from config =================================================================== */
.with-tooltip {}
.postnl-tooltip { display:inline-block; width:15px; height:15px; position:relative; z-index:1; background:url(../../../images/TIG/PostNL/icon-tooltip.png) no-repeat 0 0; cursor:help; vertical-align:middle; }
.postnl-tooltip:hover { z-index:100; }
.postnl-tooltip > span { display:none; }
.postnl-tooltip:hover > div:hover,
.postnl-tooltip > div { width:301px; background:#f6f6f6 url(../../../images/TIG/PostNL/bkg_tooltip.png) repeat-y 100%; opacity:0; position:absolute; z-index:999; left:-296px; bottom:28px; padding:0 12px; color:#464d50; visibility:hidden; }
.postnl-tooltip > div:before { position:absolute; top:-5px; left:0; content:''; width:325px; height:5px; overflow:hidden; background:url(../../../images/TIG/PostNL/bkg_tooltip.png) no-repeat 0 0; }
.postnl-tooltip > div:after { position:absolute; bottom:-14px; left:-1px; content:''; width:325px; height:14px; overflow:hidden; background:url(../../../images/TIG/PostNL/bkg_tooltip.png) no-repeat -325px 0; }
.postnl-tooltip:hover > div { opacity:1; width:301px; visibility:visible; bottom:30px; }
/* ======================================================================================= */