/* Default Styling Overrides /* ========================================================== */

/* PostNL */
.postnl-container { padding:0; background:none; }
#postnl_add_moment .option .option-radio { visibility:hidden; }
#postnl_add_location .popup-overlay { background:transparent !important; }
#postnl_pickup .location-name.overflow-protect { max-width:192px; }

/* OneStepCheckout */
.postnl-container .option-list li { padding:0; }
/* ======================================================================================= */

/* Additional Styling /* ==================================================================*/
#postnl_add_moment { max-width:334px; border-bottom:1px solid #bbbbbc; margin-bottom:16px; }
#postnl_add_moment .sub-title h3 { height:46px; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_postnl-logo.png) 100% 0 no-repeat; line-height:46px; }

#postnl_add_moment .add-moment { text-align:center; margin:-2px 0 -4px; }
#postnl_add_moment .add-moment .button.action { display:inline-block; }
#postnl_add_moment .add-moment .button.action span { text-align:left; }
#postnl_add_moment .add-moment .button.action span span { width:226px; }

/* Delivery Options Popup */
#postnl_delivery_options .popup-window { width:665px; min-height:469px; padding:17px 17px 0; margin:-235px 0 0 -333px; }
#postnl_delivery_options .popup-header { min-height:54px; padding:0; background-position:483px 0; }
#postnl_delivery_options .popup-content { height:333px; padding:0; }
#postnl_delivery_options .btn-close { top:0; right:0; }
#postnl_delivery_options .button-set { margin-top:21px; padding:7px 17px; }

#postnl_delivery_options .tooltip.first { top:-18px !important; }
#postnl_delivery_options .tooltip.socond { top:-103px !important;  }
#postnl_delivery_options .tooltip.third { top:-121px !important; }
#postnl_delivery_options .tooltip.last { top:-169px !important; }

/* Scrollbar */
#osc_scrollbar_container { width:631px; position:relative; }
#osc_scrollbar_track { position:absolute; top:0; right:-11px; height:100%; width:5px; }
#osc_scrollbar_handle { width:5px; background-color:#bbbbbc; cursor:default; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
#osc_scrollbar_handle:active,
#osc_scrollbar_track:hover #osc_scrollbar_handle { background-color:#575756; }
#osc_scrollbar_content { overflow:hidden; width:631px; }
/* ======================================================================================= */