/* Generic =============================================================================== */
#postnl_delivery_options { background:#fff; font:12px/1 'postnllight', Arial, sans-serif; padding:17px 17px 11px; color:#333334; }
#postnl_delivery_options * { margin:0; padding:0; }
#postnl_delivery_options *, 
#postnl_delivery_options *:before, 
#postnl_delivery_options *:after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

/* Styling */
#postnl_delivery_options h2 { font-size:17px; color:#ed8c00; }
#postnl_delivery_options h2,
#postnl_delivery_options h3 { font-family:'postnlmedium', Arial, sans-serif; margin:0; line-height:1; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; font-weight:normal; }
#postnl_delivery_options .title { height:54px; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_postnl.png) 100% 0 no-repeat; }
#postnl_delivery_options .title h2 { padding-top:11px; }
#postnl_delivery_options .sub-title { font-size:14px; color:#333334; margin-bottom:9px; }

#postnl_delivery_options strong { font-weight:normal !important; font-family:'postnlmedium', Arial, sans-serif; }

#postnl_delivery_options a { color:#333334; text-decoration:none; }
#postnl_delivery_options a:hover { text-decoration:underline; }

/* Layout */
#postnl_delivery_options .col-1,
#postnl_delivery_options .col-2 { width:50%; min-width:281px; max-width:351px; float:left; }
#postnl_delivery_options .col-1 { padding-right:17px; }
#postnl_delivery_options .col-2 { padding-left:17px; }

/* Buttons */
#postnl_delivery_options .button { border:0; padding:0; margin:0; background:transparent; overflow:visible; cursor:pointer; vertical-align:middle; }
#postnl_delivery_options .button span { border:0; padding:0 0 0 12px; margin:0; cursor:pointer; display:-moz-inline-stack; display:inline-block; height:26px; color:#fff; text-decoration:none; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_button.png) 0 -58px no-repeat; }
#postnl_delivery_options .button span span { padding:0 12px 0 0; background-position:100% -58px; white-space:nowrap; font:14px/22px 'postnllight', Arial, sans-serif; text-transform:none; }
#postnl_delivery_options .button.disabled span { background-position:0 -84px; color:#b0b0b0 !important; cursor:default !important; }
#postnl_delivery_options .button.disabled span span { background-position:100% -84px; }

#postnl_delivery_options .button.action span { background-position:0 0; padding:0 0 0 8px; height:24px; }
#postnl_delivery_options .button.action span span { background-position:100% 0; padding:0 20px 0 0; font:14px/22px 'postnlmedium', Arial, sans-serif; }
#postnl_delivery_options .button.action.disabled span { background-position:0 -24px; }
#postnl_delivery_options .button.action.disabled span span { background-position:100% -24px; }

#postnl_delivery_options .button.next span { background-position:0 -120px; height:30px; }
#postnl_delivery_options .button.next span span { background-position:100% -120px; padding:0 40px 0 0; line-height:28px; }
#postnl_delivery_options .button.next.disabled span { background-position:0 -150px; }
#postnl_delivery_options .button.next.disabled span span { background-position:100% -150px; }

#postnl_delivery_options .button:active { position:relative; z-index:2; bottom:-1px; right:0; left:0; }
/* ======================================================================================= */

/* Option List ========================================================================== */
#postnl_delivery_options .option-list { margin-bottom:6px; position:relative; }
#postnl_delivery_options .option-list .bkg { display:block; padding:0 0 0 8px; background-position:0 0; }
#postnl_delivery_options .option-list .bkg .bkg { padding:0 8px 0 0; background-position:100% 0; }

/* Location */
#postnl_delivery_options .location { color:#fff; height:24px; margin:0 0 2px; }
#postnl_delivery_options .location .bkg { height:24px; background-image:url(../../../images/TIG/PostNL/deliveryoptions/bkg_location.gif); }
#postnl_delivery_options .location .location-name { font-size:14px; line-height:23px; }
#postnl_delivery_options .location .location-type { color:#eaeaeb; font-size:12px; line-height:23px; margin-left:6px; }
#postnl_delivery_options .location .location-info { float:right; }
#postnl_delivery_options .location .location-info > span { margin-right:-7px; display:block; width:24px; height:24px; text-indent:-999em; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_more-info.png) -2px 5px no-repeat; }
#postnl_delivery_options .location .location-info:hover > span { width:31px; background-position:5px -41px; }
#postnl_delivery_options .location .location-info:hover .tooltip { display:block !important; }

/* Option */
#postnl_delivery_options .option-dd, 
#postnl_delivery_options .option-radio, 
#postnl_delivery_options .option-time, 
#postnl_delivery_options .option-comment { display:block; float:left; height:38px; }

#postnl_delivery_options .option { display:block; height:38px; margin:0 0 2px; overflow:hidden; }
#postnl_delivery_options .option a { display:block; text-decoration:none; }
#postnl_delivery_options .option .bkg { height:38px; background-image:url(../../../images/TIG/PostNL/deliveryoptions/bkg_option.gif); }
#postnl_delivery_options .option:hover .bkg { background-position:0 100%; }
#postnl_delivery_options .option:hover .bkg .bkg { background-position:100% 100%; }

#postnl_delivery_options .option-dd { width:34px; margin:6px 0; }
#postnl_delivery_options .option-dd .option-day { font-size:14px; line-height:1; }
#postnl_delivery_options .option-dd .option-date { display:block;  font-size:11px; line-height:1; }

#postnl_delivery_options .option-radio { width:26px; height:38px; margin-right:8px; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_radio.png) 0 -32px no-repeat; }
#postnl_delivery_options .option.active .option-radio { background-position:0 2px; }

#postnl_delivery_options .option-time { line-height:36px; }
#postnl_delivery_options .option-comment { color:#f05a22; line-height:36px; margin-left:6px; }

/* Add Location*/
#postnl_delivery_options .add-location { display:block; height:22px; text-align:right; border-bottom:1px solid #bbbbbc; }
#postnl_delivery_options .add-location a { display:inline-block; text-decoration:none; margin:1px 8px 0 0; height:14px; padding-right:21px; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_add-location.png) 100% 0 no-repeat;  }
#postnl_delivery_options .add-location a:hover { text-decoration:underline; }

/* Tooltip */
#postnl_delivery_options .tooltip { display:none; position:absolute; z-index:500; top:-18px; right:27px; width:264px; background:#f2f2f2; padding:12px 16px 16px; cursor:default; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;  }
#postnl_delivery_options .tooltip-header strong { display:block; font-size:14px; line-height:18px !important; }
#postnl_delivery_options .tooltip-divider { height:0px; border:none; border-bottom:1px solid #bbbbbc; margin:12px -8px 7px; }

#postnl_delivery_options .tooltip-content .business-hours { line-height:17px; }
#postnl_delivery_options .tooltip-content .business-hours tbody th { width:36px; }

/* ======================================================================================= */

/* Add Location Pop-up =================================================================== */
#postnl_add_location .popup-overlay { background:rgba(255, 255, 255, .7); position:fixed; z-index:5000; width:100%; height:100%; top:0; left:0; }

#postnl_add_location .popup-window { background:#fff; position:absolute; z-index:6000; width:700px; height:545px; overflow:hidden; top:50%; left:50%; margin:-273px 0 0 -350px; }
#postnl_add_location .popup-window { -webkit-box-shadow:0 0 12px 0 #a6a6a6; box-shadow:0 0 12px 0 #a6a6a6; -moz-box-shadow:0 0 12px 0 #a6a6a6; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }

#postnl_add_location .popup-header { height:80px; padding:14px 17px 0; position:relative; }
#postnl_add_location .popup-map { height:265px; }
#postnl_add_location .popup-content { height:200px; padding:14px 17px 0; }

/* Close */
#postnl_add_location .btn-close { position:absolute; top:17px; right:17px; display:block; width:18px; height:18px; text-indent:-999em; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_btn-close.png) 0 0 no-repeat; }
#postnl_add_location .btn-close:hover { background-position:0 -18px; }

/* Search */
#postnl_add_location .search-location { margin-top:11px; }
#postnl_add_location .search-location, 
#postnl_add_location .search-location .input-text,
#postnl_add_location .search-location .btn-search { float:left; margin-left:2px; }
#postnl_add_location .search-location .input-text { display:block; width:186px; height:26px; padding:0 12px 4px; border:none; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_location-search_input.gif) 0 0 no-repeat; color:#575756; font:12px 'postnllight', Arial, sans-serif; }
#postnl_add_location .search-location .btn-search { margin-left:2px; }
#postnl_add_location .search-location .btn-search span span { width:70px; }

/* Options */
#postnl_add_location .location-options { float:left; margin-left:4px; }
#postnl_add_location .location-options li { display:block; float:left; margin:12px 0 0 30px; padding:0; line-height:22px; }
#postnl_add_location .location-options a { display:block; height:26px; padding-left:26px; background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_checkbox.png) 0 0 no-repeat; }
#postnl_add_location .location-options a.selected { background-position:0 100%; }

/* Location List */
#postnl_add_location .location-list { height:118px; overflow:hidden; margin:7px 0 0 0; }

#postnl_add_location .location-list .location { margin:0; padding:0 30px 0 7px; height:36px; width:640px; border-bottom:1px solid #e6e6e6; font-size:14px; line-height:33px; color:#333334; }
#postnl_add_location .location-list .location:hover { background-color:#f2f2f2 !important; }
#postnl_add_location .location-list .location.selected { background:url(../../../images/TIG/PostNL/deliveryoptions/bkg_location-selected.png) 619px 11px no-repeat; }
#postnl_add_location .location-list .location .content { cursor:pointer; }

#postnl_add_location .location-list .location-icon { display:block; float:left; margin:9px 6px 0 0; }

#postnl_add_location .location-list .location-name { margin-right:4px; }

#postnl_add_location .location-list .location-distance { height:35px; }

#postnl_add_location .location-list .location-info { text-decoration:none; width:85px; float:right; text-align:right; }
#postnl_add_location .location-list .location-info:hover { text-decoration:underline; }

#postnl_add_location .location-list .location-distance { width:101px; float:right; text-align:right; }

/* Location Details */
#postnl_add_location .location-details { position:absolute; width:340px; min-height:170px; background:#f2f2f2; top:127px; left:50%; margin:0 0 0 -170px; padding:16px; }
#postnl_add_location .location-details { -webkit-box-shadow:0 0 12px 0 #a6a6a6; box-shadow:0 0 12px 0 #a6a6a6; -moz-box-shadow:0 0 12px 0 #a6a6a6; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }

#postnl_add_location .location-details .btn-close { top:16px; right:8px; }

#postnl_add_location .location-details .left { float:left; width:131px; line-height:1; }
#postnl_add_location .location-details .left .location-name { line-height:18px; margin:0 0 20px; } 
#postnl_add_location .location-details .left .location-address { line-height:18px; }
#postnl_add_location .location-details .left .location-info { float:none; text-align:left; text-decoration:none; font-size:12px; line-height:18px; position:absolute; bottom:16px; width:131px; }

#postnl_add_location .location-details .right { float:right; width:161px; padding-left:14px; border-left:1px solid #d1d3d3; }
#postnl_add_location .location-details .right .business-hours { font-size:12px; line-height:18px; }
#postnl_add_location .location-details .right .business-hours tbody th { width:36px; }

/* Button Set */
#postnl_add_location .button-set { background:#f2f2f2; height:44px; padding:7px 43px 7px 17px; margin:0 -17px; }
#postnl_add_location .button-set .btn-save { float:right; }
/* ======================================================================================= */

/* Fixes ================================================================================= */
.overflow-protect { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block; }
#postnl_delivery .location-name.overflow-protect { width:100%; }
#postnl_pickup .location-name.overflow-protect { max-width:214px; float:left; }
.location-list .overflow-protect { float:left; width:394px; }

/* Clears */
.location-details:after,
.location-options:after,
.search-location:after,
.popup-header:after,
.content:after,
.col2-set:after { content:'.'; display:block; height:0; width:0; line-height:0; overflow:hidden; clear:both; }
/* ======================================================================================= */
















































































































